.main_type_order{
    padding-bottom: 130px;
    text-align: left;
}
.main_type_order__content{
    padding-left: 17.5%;
    padding-right: 17.5%;

}
.main_type_order_path{
    margin-bottom: 40px;
    margin-left: 5px;
}

.order__step-box{
    position: relative;
    height: 48px;
    max-width: 972px;
    font-size: 0.87rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    color: #878786;
}

.order__step1{
    position: absolute;
    left: 26.7%;
}
.order__step2{
    position: absolute;
    right: 29.3%;
}

.order-box{
    max-width: 972px;
    height: 646px;
    border: solid 1px #c6c6c5;
    border-radius: 3px;
    padding: 40px 30px 30px;
    transition: margin-left 0.5s, height 0.5s;
}

.order-box:before{
    box-sizing: border-box;
    content: "";
    width: 50px;
    height: 40px;
    position: absolute;
    top: -45px;
    border: 25px solid transparent;
    border-bottom: 20px solid #c6c6c5;
}

.order-box:after{
    box-sizing: border-box;
    content: "";
    width: 50px;
    height: 40px;
    position: absolute;
    top: -44px;
    border: 25px solid transparent;
    border-bottom: 20px solid white;
}

.order-box__input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.input-box__item{
    margin-bottom: 24px;
}

.input-box__input-title{
    font-size: 0.87rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.28px;
    color: #000000;
    margin-bottom: 6px;
}

.input-box__input{
    font-size: 0.87rem;
    letter-spacing: 0.28px;
}


@media all and (max-width:1203px) {
    .main_type_order__content{
        padding-left: 10%;
        padding-right: 10%;
    }
}

